{% extends "::layout.html.twig"%}
{% block container %}
    {{ parent()}}
    {{texto}}
    
    {# COMENTARIO
    
        ESTO ES UN EJEMPLO DE COMENTARIOS
    #}
    <hr>
    {{fruta.pera}}
    {% if fruta.pera starts with "r" %}
        {{fruta.manzana}}
    {% endif %}
    <hr>
    {% set variable = "hola Twig" %}
    {{variable}}
    
    <hr>
    {% if productos|length > 4 %}
    <ul>
    {% for producto in productos %}
        <li>
            {{ producto.producto }} - {{ producto.precio }}  
            {% if producto.producto == "camiseta 2" %} ¡¡Desctadado!!{% elseif producto.producto == "camiseta 4" %}¡¡Importante!!{% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
     <hr> 
     {% set fecha = date(" -2 days", "Europe/Madrid") %}
     {{fecha.date|date("d/m/Y")}}
     
     <hr> 
     {% set texto = "Esto es, un ejemplo," %}
     {{texto|trim(",")}}
     
     <hr>
     {{ include('AppBundle:pruebas:partial.html.twig') }}
     {{ min([76,99,58,12]) }}
     {{ random(["Batman","Juegos del hambre","Gran torino"]) }}
     <hr/>
      {% for i in range(0,25,3) %}
          {{i}}<br>
    {% endfor %}
    <hr/>
    {{ generateTable(productos)|raw }}
    {{ getNamePrueba()}}
    <hr/>
    {{"cadena de texto"|addText(2)}}
    
{%endblock%}